@using DgPadCMS.Models
@model IEnumerable<Post>

@{

}
    

    <div class=" d-flex justify-content-center " data-aos="fade-down"
         data-aos-anchor-placement="center-center" style="margin-bottom:2%">

        <p>
            <h1>Welcome To the DgPad News Website!</h1>
        </p>

    </div>




<section id="events" class="events">
    <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
            <h2>What happened today?</h2>
            <p>RECENT <span>NEWS</span></p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <a asp-controller="Post" asp-action="Detail" asp-route-id="@item.Id" class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(DgPadCMS/wwwroot/media/photos/@item.Image)" >
                        <div >
                    <h4>@item.CreationDate</h4>
                    <div class="price align-self-start">@item.Title</div>
                    <p class="description">
                        @item.Summary
                    </p>
                        </div><!-- End Event item -->
                    </a>
                }
               

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Events Section -->
















@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }