@model DgPadCMS.Models.Post

@{
    ViewData["Title"] = "Detail";
}

<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up"> @Model.Title </h2>
                <p data-aos="fade-up" data-aos-delay="100">@Html.Raw(Model.Detail)</p>
                @if (Model.Media != "novideo.mp4")
                {
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="/DgPadCMS/wwwroot/media/Videos/@Model.Media" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>}
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="/DgPadCMS/wwwroot/media/photos/@Model.Image" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section>
@*
<div class="container">
    <h2>Tags</h2>
    @foreach (var item in ViewBag.terms)
    {
        foreach (var i in item.postTerms)
        {
            <a href="#">
                @i.Term.Name <span style=" display: inline-block;  padding: 0.25em 0.4em; font-size: 75%; font-weight: 700;line-height: 1; text-align: center; white-space: nowrap; vertical-align: baseline;   border-radius: 0.25rem; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">10</span>
            </a>

            <br>
        }
   
    }
    
  
</div>*@

