@model DetailViewModel

@{
    ViewData["Title"] = "Detail";
}
@using DgPadCMS.Infrastructure
@inject DgPadCMSContext _context
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="p-5">
        <h2>Tags</h2>
        
        @foreach (var item in Model.postTerms)
        {
             
                int count = item.Term.postTerms.Count;
            
                
            <a asp-action="PostByTerm" asp-route-id="@item.Term.Id">
                <h3> @item.Term.Name <span> <partial>(</partial>@count <partial>)</partial></span></h3>
                <br />
            </a>

            <br>


        }

    </div>
   
    <div class="container">
        <div class="row justify-content-between gy-5">
            
            <div class="col-lg-12 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <a href="/DgPadCMS/wwwroot/media/photos/@Model.post.Image"  class="glightbox"> <img src="/DgPadCMS/wwwroot/media/photos/@Model.post.Image" class="img-fluid"width="1250" alt="" data-aos="zoom-out" data-aos-delay="300"></a>
               
                <h2 data-aos="fade-up"> @Model.post.Title </h2>
                @if (Model.post.Media != "novideo.mp4")
                {
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="/DgPadCMS/wwwroot/media/Videos/@Model.post.Media" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                }
                <p data-aos="fade-up" data-aos-delay="100">@Html.Raw(Model.post.Detail)</p>
                
            </div>
           
        </div>
    </div>
</section>


   
    
  


