@model PostTypeViewModel

@{
    ViewData["Title"] = "Create PostType";
}

<h1>Create a new post type</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Allow Videos?</label>

                <input asp-for="MediaChecked" type="checkbox" class="form-control" />

            </div>
               <div class="form-group">
               <h4>Taxonomies</h4>

                <ul class="checkbox checkboxlist col-sm9">
                   <table>
                        @foreach (var item in Model.availabletaxonomies)
                        {
                            <tr>
                                <td>
                                    <label class="control-label">@item.Name</label>

                                </td>
                                <td>
                                    <input type="checkbox" value="@item.Id" name="taxonomyIdList" class="form-control" />

                                </td>


                            </tr>
                        }
                   </table>
                   
                </ul>
                </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
