@model PostTermViewModel

@{
    ViewData["Title"] = "CreateSecond";
}

<h1>CreateSecond</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <h3>Post a @ViewBag.PostType</h3>
        <form asp-action="CreateSecond">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="Post.Id" type="hidden" class="form-control" />
                <span asp-validation-for="Post.Id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Post.Detail" class="control-label"></label>
                <textarea asp-for="Post.Detail" class="form-control" ></textarea>
                <span asp-validation-for="Post.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Summary" class="control-label"></label>
                <input asp-for="Post.Summary" class="form-control" />
                <span asp-validation-for="Post.Summary" class="text-danger"></span>
            </div>
         
            <div>
            @foreach (var item in Model.postTypeTaxonomies)
            {
                    var t = item.Taxonomy.terms.ToList();
                    <div class="form-group">
                <label  class="control-label">term for @item.Taxonomy.Name</label>
                   
                        <ul class="checkbox checkboxlist col-sm9">
                            <table>
                                @foreach (var i in t)
                                {
                                    <tr>
                                        <td>
                                            <label class="control-label">@i.Name</label>

                                        </td>
                                        <td>
                                            <input type="checkbox" value="@i.Id" name="termIdList" class="form-control" />

                                        </td>


                                    </tr>
                                }
                            </table>

                        </ul>
                <span class="text-danger"></span>
            </div>
            }
           </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        CKEDITOR.replace("Post.Detail");
    </script>
}
