@model PostTermViewModel

@{
    ViewData["Title"] = "Edit post";
}

<h1>Edit the post</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="Post.Id" type="hidden" class="form-control" />
                <span asp-validation-for="Post.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Detail" class="control-label"></label>
                <textarea asp-for="Post.Detail" class="form-control"></textarea>
                <span asp-validation-for="Post.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Summary" class="control-label"></label>
                <input asp-for="Post.Summary" class="form-control" />
                <span asp-validation-for="Post.Summary" class="text-danger"></span>
            </div>
            @if (@ViewBag.PostType.MediaChecked == true)
            {
                <div class="form-group">
                    <label asp-for="Post.Media" class="control-label">Video</label>
                    <input asp-for="MediaUpload" class="form-control" />
                    <video width="200" height="200" id="videopreview" controls> <source src="" id="videopreview" type="video/mp4"></video>
                    <span asp-validation-for="MediaUpload" class="text-danger"></span>
                </div>
            }
           
                <div class="form-group">
                    <label asp-for="Post.Image" class="control-label">Image</label>
                    <input asp-for="ImageUpload" class="form-control" />
                    <img src="" id="imgpreview" class="pt-2" alt="" />
                    <span asp-validation-for="ImageUpload" class="text-danger"></span>
                </div>
           
            <div>
                @foreach (var item in Model.postTypeTaxonomies)
                {
                    var t = item.Taxonomy.terms.ToList();
                    <div class="form-group">
                        <label class="control-label">term for @item.Taxonomy.Name</label>

                        <ul class="checkbox checkboxlist col-sm9">
                            <table>
                                @foreach (var i in t)
                                {
                                    <tr>
                                        <td>
                                            <label class="control-label">@i.Name</label>

                                        </td>
                                        <td>
                                            <input type="checkbox" value="@i.Id" name="termIdList" class="form-control" />

                                        </td>


                                    </tr>
                                }
                            </table>

                        </ul>
                        <span class="text-danger"></span>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        CKEDITOR.replace("Post.Detail");

        $("#ImageUpload").change(function () {
            readURL(this);
        });
        $("#MediaUpload").change(function () {
            readuURL(this);
        });
    </script>
}
